:root {
  --color-user-1: #e17076;
  --color-user-2: #7bc862;
  --color-user-4: #65aadd;
  --color-user-5: #a695e7;
  --color-user-6: #ee7aae;
  --color-user-7: #6ec9cb;
  --color-user-8: #faa774;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--tg-theme-text-color);
  font-size: large;

}

input,
select,
textarea {
  color: var(--tg-theme-text-color);
  font-size: 2em;
  background-color: var(--tg-theme-bg-color);
  border: none;
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}